## Starting with 10 features

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [14]:
df = pd.read_csv("../data/ESS10/ESS10.csv")

/tmp/ipykernel_9220/2829932950.py:1: DtypeWarning: Columns (166,172,174,607,608) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/ESS10/ESS10.csv")

In [15]:
base_df = df[['cntry', 'gndr','sclmeet','inprdsc','sclact','health','rlgdgr','dscrgrp','ctzcntr', 'brncntr', 'happy']]

In [16]:
dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr = {7: np.nan, 8: np.nan, 9: np.nan}
base_df['brncntr','ctzcntr','dscrgrp','health','sclact','gndr'].replace(
    dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr, inplace=True
)

# #dic for `rlgdgr` `inprdsc` `sclmeet`
# dic_rlgdgr_inprdsc_sclmeet = {77: np.nan, 88: np.nan, 99: np.nan}
# df_encoded.loc(axis=1)['rlgdgr','inprdsc','sclmeet','happy'].replace(
#     dic_rlgdgr_inprdsc_sclmeet, inplace=True)

KeyError: ('brncntr', 'ctzcntr', 'dscrgrp', 'health', 'sclact', 'gndr')

In [12]:
base_df

,cntry,gndr,sclmeet,inprdsc,sclact,health,rlgdgr,dscrgrp,ctzcntr,brncntr,happy
0,BE,NaN,5,2,NaN,NaN,7,NaN,1,1,7
1,BE,NaN,4,4,NaN,NaN,4,NaN,1,2,6
2,BE,NaN,4,2,NaN,NaN,0,NaN,2,2,8
3,BE,NaN,5,3,NaN,NaN,5,NaN,2,2,10
4,BE,NaN,6,4,NaN,NaN,1,NaN,2,2,7
...,...,...,...,...,...,...,...,...,...,...,...
37606,SK,NaN,3,1,NaN,NaN,8,NaN,1,1,5
37607,SK,NaN,7,1,NaN,NaN,1,NaN,1,1,8
37608,SK,NaN,3,3,NaN,NaN,8,NaN,1,1,7
37609,SK,NaN,6,1,NaN,NaN,3,NaN,2,1,7
37610,SK,NaN,4,0,NaN,NaN,6,NaN,1,1,7

In [ ]:
base_df.isnull().sum()

In [ ]:
base_df.info()

###### `sclmeet` category = How often socially meet with friends, relatives or colleagues 1-7 refusal =77, dontknow = 88, no answer = 99
###### `inprdsc` category = How many people with whom you can discuss intimate and personal matters 0-6 refusal =77, dontknow = 88, no answer= 99
###### `sclact` category = Take part in social activities compared to others of same age, 1-5 refusal = 7, dont know =8 , no answer =9
###### `health` category = Subjective general health 1-5 refusal = 7, dont know =8 , no answer =9
###### `rlgdgr` category = How religious are you  0-10 77 88 99

###### `dscrgrp` category = Member of a group discriminated against in this country, , yes, no , refusal(7), 8(dont know), 9(no answer)
###### `ctzcntr` category = Citizen of country, yes, no , refusal(7), 8(dont know), 9(no answer)
###### `brncntr` category = Born in country, yes, no , refusal(7), 8(dont know), 9(no answer)
###### `gndr` category = 1,2 no answer = 9
###### `Country` category

In [5]:
#split data
df = pd.read_csv("../data/ESS10/ESS10.csv")
base_df = df[['cntry', 'gndr','sclmeet','inprdsc','sclact','health','rlgdgr','dscrgrp','ctzcntr', 'brncntr', 'happy']]
X = base_df.drop('happy', axis=1)
y = base_df['happy']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

/tmp/ipykernel_6908/2624440983.py:2: DtypeWarning: Columns (166,172,174,607,608) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/ESS10/ESS10.csv")

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
#dic for 'brncntr` `ctzcntr` `dscrgrp` `health` `sclact` `gndr`
dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr = {7: np.nan, 8: np.nan, 9: np.nan}
columns = ['brncntr', 'ctzcntr','dscrgrp','health','sclact','gndr']

for column in columns:
    base_df[column] = base_df[column].map(dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr)

/tmp/ipykernel_6908/1028828218.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_df[column] = base_df[column].map(dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr)

In [9]:
#dic for `rlgdgr` `inprdsc` `sclmeet`
dic_rlgdgr_inprdsc_sclmeet = {77: np.nan, 88: np.nan, 99: np.nan}
columns_77 = ['rlgdgr','inprdsc','sclmeet','happy']

for column in columns_77:
    base_df[column] = base_df[column].map(dic_rlgdgr_inprdsc_sclmeet)

/tmp/ipykernel_6908/2454486035.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_df[column] = base_df[column].map(dic_rlgdgr_inprdsc_sclmeet)

In [12]:
base_df

,cntry,gndr,sclmeet,inprdsc,sclact,health,rlgdgr,dscrgrp,ctzcntr,brncntr,happy
0,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37606,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37607,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37608,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37609,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37610,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
base_df.isnull().sum().sort_values(ascending=False)

gndr       37611
sclmeet    37611
inprdsc    37611
sclact     37611
health     37611
rlgdgr     37611
dscrgrp    37611
ctzcntr    37611
brncntr    37611
happy      37611
cntry          0
dtype: int64

In [7]:
categorical_features = ['cntry', 'gndr', 'brncntr', 'ctzcntr']
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ])

In [ ]:
encoder = OneHotEncoder()
encoded_countries = encoder.fit_transform(base_df[['cntry']]).toarray()
df_encoded = pd.concat([base_df.drop('cntry', axis=1), pd.DataFrame(encoded_countries, columns=encoder.get_feature_names_out())], axis=1)
df_encoded

In [ ]:
encoder = OneHotEncoder()
encoded_countries = encoder.fit_transform(base_df[['cntry']]).toarray()
df_encoded = pd.concat([base_df.drop('cntry', axis=1), pd.DataFrame(encoded_countries, columns=encoder.get_feature_names_out())], axis=1)

#handle missing values

#dic for `brncntr` `ctzcntr` `dscrgrp` `health` `sclact` `gndr`
dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr = {7: np.nan, 8: np.nan, 9: np.nan}
df_encoded.loc(axis=1)['brncntr','ctzcntr','dscrgrp','health','sclact','gndr'].replace(
    dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr, inplace=True
)
#dic for `rlgdgr` `inprdsc` `sclmeet`
dic_rlgdgr_inprdsc_sclmeet = {77: np.nan, 88: np.nan, 99: np.nan}
df_encoded.loc(axis=1)['rlgdgr','inprdsc','sclmeet','happy'].replace(
    dic_rlgdgr_inprdsc_sclmeet, inplace=True)

In [ ]:
df_encoded.isnull().sum().sort_values(ascending=False)

In [ ]:
X = df_encoded.drop('happy', axis=1)
y = df_encoded['happy']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
encoder = OneHotEncoder()
encoded_countries = encoder.fit_transform(base_df[['cntry']]).toarray()
df_encoded = pd.concat([base_df.drop('cntry', axis=1), pd.DataFrame(encoded_countries, columns=encoder.get_feature_names_out())], axis=1)

#handle missing values

#dic for `brncntr` `ctzcntr` `dscrgrp` `health` `sclact` `gndr`
dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr = {7: np.nan, 8: np.nan, 9: np.nan}
df_encoded.loc(axis=1)['brncntr','ctzcntr','dscrgrp','health','sclact','gndr'].replace(
    dic_brncntr_ctzcntr_dscrgrp_health_sclact_gndr, inplace=True
)
#dic for `rlgdgr` `inprdsc` `sclmeet`
dic_rlgdgr_inprdsc_sclmeet = {77: np.nan, 88: np.nan, 99: np.nan}
df_encoded.loc(axis=1)['rlgdgr','inprdsc','sclmeet','happy'].replace(
    dic_rlgdgr_inprdsc_sclmeet, inplace=True)

#Scale numerical features

scaler = MinMaxScaler()  # or MinMax
scaled_columns = ['sclmeet', 'inprdsc', 'sclact', 'health', 'rlgdgr']
df_encoded[scaled_columns] = scaler.fit_transform(df_encoded[scaled_columns])

# Target and split
X = df_encoded.drop('happy', axis=1)
y = df_encoded['happy']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # simple model
model = LinearRegression()

# # Train the baseline model
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Predict happiness scores for the test set
y_pred = model.predict(X_test)

# Calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)

# Calculate R^2 Score
r2 = r2_score(y_test, y_pred)

print(f'RMSE: {rmse}')
print(f'MAE: {mae}')
print(f'R^2 Score: {r2}')

In [ ]:
from sklearn.model_selection import cross_validate
model = LinearRegression()
scores = cross_validate(model, X, y, cv=5)  # specifying scoring method

# Convert scores to positive values and then take the square root to get RMSE
rmse_scores = np.sqrt(-scores['test_score'])
average_rmse = np.mean(rmse_scores)
average_rmse

In [ ]:
import matplotlib.pyplot as plt

model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)

residuals = y_train - y_pred_train

plt.scatter(y_pred_train, residuals)
plt.hlines(y=0, xmin=y_pred_train.min(), xmax=y_pred_train.max(), colors='red', linestyles='--')
plt.xlabel('Predicted Values')
plt.ylabel('Residuals')
plt.title('Residual Plot')
plt.show()

In [ ]:
base_df = df[['cntry', 'gndr','sclmeet','inprdsc','sclact','health','rlgdgr','dscrgrp','ctzcntr', 'brncntr', 'happy']]
features = base_df.drop('happy', axis=1)
target= base_df['happy']

In [ ]:
plt.scatter(features, target)
plt.xlabel('Feature')
plt.ylabel('Target')
plt.title('Scatter Plot of Feature vs Target')
plt.show()