In [1]:
import numpy as np
import pandas as pd

In [6]:
pwd

'/home/arthurcornelio/code/arthurcornelio88/how-happy-in-europe/arthurcornelio88-notebooks'

In [8]:
######
# website : https://ess.sikt.no/en/datafile/a93fed5b-3858-4e86-bdae-dfcf5bbc9bf9/33?tab=0

data = pd.read_csv("../data/ESS10/ESS10.csv")
data.shape

/tmp/ipykernel_61966/2932197154.py:4: DtypeWarning: Columns (166,172,174,607,608) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/ESS10/ESS10.csv")

(37611, 618)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.DataFrame(data[["netusoft"]])
sns.histplot(df)
plt.xticks(ticks=[1,2,3,4,5,7,8,9], rotation=90, labels=['Never','Only occasionally','A few times a week','Most days','Every day','Refusal*','Dont know*','No answer*'])
plt.legend(labels=['Internet use, how often'])

In [ ]:
data.groupby('cntry').count()
#grouped by country

In [ ]:
dict_df = {
    "Human values" : 1,
    "Impact of COVID-19" : 1,
    "Test questions" : 1
}

In [ ]:
df_test = data.iloc[:, 540:549]
dict_df['Test questions'] = df_test
dict_df['Test questions']

In [ ]:
df_human_values = data.iloc[:, 519:540]
dict_df['Human values'] = df_human_values
dict_df['Human values']

In [ ]:
df_covid = data.iloc[:, 549:583]
dict_df['Impact of COVID-19'] = df_covid
dict_df['Impact of COVID-19']

In [ ]:
df_dig_social_contacts = data.iloc[:, 449:519]
dict_df['Digital social contacts in works and family life'] = df_dig_social_contacts
dict_df['Digital social contacts in works and family life']

In [ ]:
df_social_demographics = data.iloc[:, 268:449] 
dict_df['Socio-demographics'] = df_social_demographics
dict_df['Socio-demographics']

In [ ]:
df_social_exclusion = data.iloc[:,106:177]
df_social_exclusion
dict_df['Subjective well-being, social exclusion, religion, national and ethnic identity'] = df_social_exclusion
dict_df['Subjective well-being, social exclusion, religion, national and ethnic identity']

In [ ]:
data.columns.get_loc('tmpdca')
#dict_df.keys()

In [ ]:
"Gender, Year of birth and Household grid"
"Understanding of democracy"
"Subjective well-being, social exclusion, religion, national and ethnic identity"
"Politics"
"Media and social trust"
"Identifier and weight variables"

In [ ]:
from matplotlib import pyplot as plt

df = dict_df['Subjective well-being, social exclusion, religion, national and ethnic identity']
df = df[['happy']][df['happy']<12]
df
plt.hist(df)
plt.xlabel('Happiness')
plt.ylabel('European population')
plt.xticks(ticks=[0,10], rotation=90, labels=['Extremely unhappy','Extremely happy'])

# Experiments on 18/03/2024

## Member of a group discriminated against in this country.

In [ ]:
# yes = 1
data[data['dscrgrp']==1].shape

In [ ]:
# no = 2
data[data['dscrgrp']==2].shape

In [ ]:
# 7, 8, 9 = refusal, don't know, no answer
data[(data['dscrgrp']==7) | (data['dscrgrp']==8) | (data['dscrgrp']==9)].shape # or data['dscrgrp']==9 ].shape

## By gender

In [ ]:
# male = 1
data[data['gndr']==1].shape

In [ ]:
# female = 2
data[data['gndr']==2].shape

In [ ]:
# no answer = 9
data[data['gndr']==9].shape

## By age (bunches of 10 years)

In [ ]:
# between 15 and 20 years (minimal age = 15 years)
data[(data['agea']>=15) & (data['agea']<=20)].set_index('agea').shape

In [ ]:
# between 21 and 30 years
data[(data['agea']>=21) & (data['agea']<=30)].set_index('agea').shape

In [ ]:
# between 31 and 40 years
data[(data['agea']>=31) & (data['agea']<=40)].set_index('agea').shape

In [ ]:
# between 41 and 50 years
data[(data['agea']>=41) & (data['agea']<=50)].set_index('agea').shape

In [ ]:
# between 51 and 60 years
data[(data['agea']>=51) & (data['agea']<=60)].set_index('agea').shape

In [ ]:
# between 61 and 70 years
data[(data['agea']>=61) & (data['agea']<=70)].set_index('agea').shape

In [ ]:
# between 71 and 80 years
data[(data['agea']>=71) & (data['agea']<=80)].set_index('agea').shape

In [ ]:
# between 81 and 90 years, it goes until 90 years
data[(data['agea']>=81) & (data['agea']<=90)].set_index('agea').shape

In [ ]:
# not available = 999
data[data['agea']==999].set_index('agea').shape

In [ ]:
data_fil = data[data['agea']!=999]
x = data_fil.groupby('agea')[['agea']].count()
xx = data[data['agea']!=999]
#yy = np.arange(0,90,1)
plt.hist(xx)

## Some exploration on weighting

In [10]:
data

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,vinwe,inwde,jinws,jinwe,inwtm,mode,domain,prob,stratum,psu
0,ESS10e03_2,10,3.2,02.11.2023,10038,BE,0.882220,0.972276,0.718075,0.698167,...,2022-09-01 17:47:00,2022-09-01 17:47:00,2022-09-01 17:47:00,2022-09-01 17:47:00,36.0,1,1.0,0.000397,188,2596
1,ESS10e03_2,10,3.2,02.11.2023,10053,BE,1.047643,0.888635,0.718075,0.638107,...,2022-04-08 11:07:00,2022-04-08 11:10:00,2022-04-08 11:07:00,2022-04-08 11:10:00,54.0,2,2.0,0.000334,194,2206
2,ESS10e03_2,10,3.2,02.11.2023,10055,BE,1.087741,0.722811,0.718075,0.519033,...,2022-05-20 11:08:00,2022-05-20 11:10:00,2022-05-20 11:08:00,2022-05-20 11:10:00,77.0,1,2.0,0.000322,198,2114
3,ESS10e03_2,10,3.2,02.11.2023,10062,BE,0.909910,1.005565,0.718075,0.722072,...,2022-05-22 13:58:00,2022-05-22 13:59:00,2022-05-22 13:58:00,2022-05-22 13:59:00,55.0,1,1.0,0.000385,150,2645
4,ESS10e03_2,10,3.2,02.11.2023,10064,BE,0.918949,0.638705,0.718075,0.458639,...,2022-05-18 11:44:00,2022-05-18 11:45:00,2022-05-18 11:44:00,2022-05-18 11:45:00,55.0,1,1.0,0.000381,149,2313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37606,ESS10e03_2,10,3.2,02.11.2023,27808,SK,0.515714,0.339385,0.323800,0.109893,...,2021-06-08 14:28:34,2021-06-08 14:30:41,2021-06-08 14:29:01,2021-06-08 14:31:44,70.0,1,1.0,0.001522,2610,27206
37607,ESS10e03_2,10,3.2,02.11.2023,27826,SK,0.297974,0.196093,0.323800,0.063495,...,2021-08-02 10:33:27,2021-08-02 10:36:27,2021-08-02 10:35:22,2021-08-02 10:37:34,45.0,1,2.0,0.002635,2610,27217
37608,ESS10e03_2,10,3.2,02.11.2023,27834,SK,0.965931,0.857000,0.323800,0.277497,...,2021-06-26 20:52:15,2021-06-26 20:53:05,2021-06-26 20:52:27,2021-06-26 20:54:32,33.0,1,1.0,0.000813,2631,27134
37609,ESS10e03_2,10,3.2,02.11.2023,27846,SK,0.854279,0.624287,0.323800,0.202144,...,2021-07-21 14:14:41,2021-07-21 14:17:31,2021-07-21 14:16:38,2021-07-21 14:18:38,43.0,1,1.0,0.000919,2638,27183
37610,ESS10e03_2,10,3.2,02.11.2023,27858,SK,0.702292,0.581970,0.323800,0.188442,...,2021-07-11 10:48:52,2021-07-11 10:52:58,2021-07-11 10:52:10,2021-07-11 10:54:10,49.0,1,1.0,0.001118,2620,27002